@model Software_Taller_y_Repuestos.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<div class="container my-5">
    <div class="section-title mb-4">
        <h2 class="text-center">Detalles del Producto</h2>
    </div>

    <div class="card mb-3 mx-auto" style="max-width: 720px;">
        <div class="row g-0">
            <!-- Imagen del producto -->
            <div class="col-md-4">
                <img src="@Model.Imagen" class="img-fluid rounded-start" alt="@Model.Nombre">
            </div>

            <!-- Detalles del producto -->
            <div class="col-md-8">
                <div class="card-body">

                    <h5 class="card-title text-dark">@Model.Nombre</h5>
                    <p class="card-text text-dark">@Model.Descripcion</p>
                    <p class="card-text text-dark"><strong>Código:</strong> @Model.Codigo</p>
                    <p class="card-text text-dark"><strong>Categoría:</strong> @Model.Categoria?.Nombre</p>
                    <p class="card-text text-dark"><strong>Cantidad en Stock:</strong> @Model.Cantidad</p>
                    <p class="card-text text-dark">
                        <strong>Precio de Venta:</strong>
                        @Model.PrecioVenta.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("es-CR"))
                    </p>

                    
                </div>
            </div>
        </div>
    </div>

    <!-- Botones de acción -->
    <div class="text-center">
        <a asp-action="Index" class="btn btn-secondary me-2">Volver</a>
        <a asp-action="Edit" asp-route-id="@Model.ProductoId" class="btn btn-warning me-2">Editar</a>
        <a asp-action="Delete" asp-route-id="@Model.ProductoId" class="btn btn-danger">Eliminar</a>
    </div>
</div>
