@model List<Usuario>

@{
    ViewData["Title"] = "Agregar Empleados";
}

<!-- Segundo Navbar -->
<header id="header" class="fixed-top d-flex align-items-cente" style="margin-top: 65px;">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="@Url.Action("Empleados","HR")">Empleados Disponibles</a></li>
                <li><a class="nav-link scrollto active" href="@Url.Action("AgregarEmpleados","HR")">Agregar empleados</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>

<!-- Lista de Usuarios Clientes Para Agregar -->
<section id="login" class="contact section-bg d-flex align-items-center" style="min-height: 100vh;">
    <div class="container mt-4">
        <h3>Usuarios Disponibles</h3>

        @if (!Model.Any()) // La lista esta vacia?
        {
            <div class="alert alert-info" role="alert">
                No hay usuarios disponibles.
            </div>
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr>
                            <td>@cliente.Nombre @cliente.Apellidos</td>
                            <td>@cliente.Correo</td>
                            <td>
                                <form asp-action="AsignarRolEmpleado" asp-controller="HR" method="post">
                                    <input type="hidden" name="usuarioId" value="@cliente.UsuarioId" />
                                    <button type="submit" class="btn btn-primary">Asignar a Empleado</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</section>
