@model IEnumerable<Software_Taller_y_Repuestos.Models.Factura>

@{
    ViewData["Title"] = "Lista de Facturas";
}
<div class="container my-5">

<h1>Lista de Facturas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Factura ID</th>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var factura in Model)
        {
            <tr>
                <td>@factura.FacturaId</td>
                <td>@factura.Usuario.Nombre</td>
                <td>@factura.Fecha.ToShortDateString()</td>
                <td>@factura.Total.ToString("C")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@factura.FacturaId" class="btn btn-info">Detalles</a>
                    <a asp-action="Edit" asp-route-id="@factura.FacturaId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@factura.FacturaId" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>



@section Scripts {
    <script src="~/assets/vendor/aos/aos.js" asp-append-version="true"></script>
    <script>
        AOS.init();
    </script>

}
